body {
  background-color: black;
}
h1 {
  color: white;
  font-family: "Libre Baskerville", serif;
  font-weight: 700;
  text-align: center;
}
p {
  color: white;
  text-align: center;
}
img {
  border: 5px solid white;
  width: 50%;
  margin-left: 25%;
}
